@{
    ViewBag.Title = "FontDegredation";
    Layout = "~/Views/Shared/_BiggLayout.cshtml";
}

<h2>Font Degredation</h2>
<p>The prevailing wisdom of the internet seems to be that you don't want to go down the path of font degredation.</p>

 <div class="row-fluid">
     <div class="col-sm-12">
         <h1 class="visible-lg">Hello World</h1>
         <h2 class="visible-md">Hello World</h2>
         <h3 class="visible-sm">Hello World</h3>
         <h4 class="visible-xs">Hello World</h4>
     </div>
 </div>

<div class="row-fluid">
      <div class="col-sm-6"><p>This is in a paragraph tag</p></div>
      <div class="col-sm-6">This is text without paragraphing</div>
      <div style="clear:both;"></div>
 </div>
