@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BiggLayout.cshtml";
}
<style type="text/css">
    .span6 {background: lime;    }
    .span9 {background: yellow;    }
    .span3 {background: orange; }
</style>
<!-- SPA for the Angular portion of BiggResponsive -->
<div ng-view autoscroll="true"></div>