<div class="row-fluid">

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Technologies In This Project</h3>

            <a target="_blank" href="https://angularjs.org/">Angular</a> <span class="LinkExplanation">Client-side data binder / js structure : Keeps you from writing a bazillion lines of JQuery.</span><br />
            <a target="_blank" href="http://getbootstrap.com/">Twitter Bootstrap</a> <span class="LinkExplanation">Caveat: I'll be switching to <i>Materialize</i> or Zurb.</span><br />
            <a target="_blank" href="http://angular-ui.github.io/bootstrap/">Angular Directives for Bootstrap</a> <span class="LinkExplanation">Angular triggers for Bootstrap widgets (as directives).</span><br />
            <a target="_blank" href="https://lodash.com/">Lo_Dash</a> <span class="LinkExplanation">Object Utility for JS</span><br />

            <a target="_blank" href="http://www.ninject.org/">Ninject</a> <span class="LinkExplanation">IOC Framework</span><br />
            <a target="_blank" href="http://jquery.com">JQuery</a> <span class="LinkExplanation">Only for inheritance, as explicit DOM manipulation produces too much needless code.</span>.<br />

            <p>And ... MVC 5, C#, .NET 4.5, WebApi, Log4Net, ...</p>
        </div>
    </div>

    <h2>Links</h2>

    <h3>JS Model Binding / Watchers</h3>

    <a target="_blank" href="https://angularjs.org/">Angular</a> <span class="LinkExplanation">Fastest, most supported and well recieved, but with big learning curve.</span> ... and ...
    <a target="_blank" href="https://angular.io/">Angular 2.0</a> <span class="LinkExplanation">Comes with Polymer, highly modular, but you better learn TypeScript!</span><br />
    <a target="_blank" href="http://backbonejs.org/">Backbone</a> <span class="LinkExplanation">Smallest, lightest front end data binder</span><br />
    <a target="_blank" href="http://knockoutjs.com/">Knockout</a> <span class="LinkExplanation">Got knocked out by Angular.js.  Is now a niche product.</span><br />
    <a target="_blank" href="http://aurelia.io/">Aurelia</a> <span class="LinkExplanation">Sort of like Angular 2.0, attempts to be more modular.</span> ... and ...
    <a target="_blank" href="https://babeljs.io/">Babel</a> <span class="LinkExplanation">a compiler (pretty much) that should be used with Aurelia.</span><br />
    <a target="_blank" href="http://jsblocks.com/">JS Blocks</a> <span class="LinkExplanation">Like Angular; less pub/sub/modular but WAY faster DOM manipulation .</span><br />

    <h3>Responsive UI / Style Frameworks</h3>

    <a target="_blank" href="http://getbootstrap.com/">Twitter Bootstrap</a> <span class="LinkExplanation">The most widely used Responsive UI Framework</span> ... and ...
    <a target="_blank" href="http://bootswatch.com/">Themes</a><br />
    <a target="_blank" href="http://materializecss.com/">Materialize CSS</a> <span class="LinkExplanation">Bleeding Edge UI / Responsive UI Framework</span> ... and ...
    <a target="_blank" href="http://www.materialup.com/">Materialize Up</a> <span class="LinkExplanation">Helpers for Getting your Materialize going.</span><br />
    <a target="_blank" href="https://material.angularjs.org/latest/#/">Angular Material</a> <span class="LinkExplanation">Material with built in listeners for Angular events</span><br />
    <a target="_blank" href="http://semantic-ui.com/">Semantic UI</a> <span class="LinkExplanation">Worthy contenders are stepping up.</span><br />
    <a target="_blank" href="http://foundation.zurb.com/">Foundation / Zurb</a> <span class="LinkExplanation">Another highly respected Responsive UI Framework.</span><br />


    <h3>JS Utilities. Tools, Tool Frameworks</h3>

    <a target="_blank" href="http://facebook.github.io/react/">React JS</a> <span class="LinkExplanation">Ultra Fast JS Processor / DOM Deliverer</span> ... and ...
    <a target="_blank" href="https://www.youtube.com/watch?list=PLb0IAmt7-GS188xDYE-u1ShQmFFGbrk0v&t=1222&v=nYkdrAPrdcw">leave the MVC pov behind</a> and look into
    <a target="_blank" href="http://facebook.github.io/flux/">flux</a> with react.<br />
    <a target="_blank" href="http://bone.io/">Bone JS</a> <span class="LinkExplanation">JS Server with Back-bone-like Data Binding. Reactive Framework. Prefer React.</span><br />
    <a target="_blank" href="https://www.meteor.com">Meteor JS</a> <span class="LinkExplanation">Client-Server Framework with Pre-Built JS Utillities and Processes</span><br />
    <a target="_blank" href="http://emberjs.com/">Ember JS</a> <span class="LinkExplanation">Like Meteor, Meteor should be preferred</span><br />

    <a target="_blank" href="https://lodash.com/">lodash</a> <span class="LinkExplanation">JS object querying / manipulation framework</span><br />
    <a target="_blank" href="http://underscorejs.org/">Underscore JS</a> <span class="LinkExplanation">Like Lodash, came first, but Lodash is stronly preferred.</span><br />

    <h3>JS Servers</h3>

    <a target="_blank" href="https://nodejs.org/"><strong>Node JS</strong></a> <span class="LinkExplanation"><i>THE</i> definitive JS Server. Used in conjuction with most JS task stuff</span><br />
    <a target="_blank" href="http://expressjs.com/">Express</a> <span class="LinkExplanation">JS Server, reactive DOM server</span><br />
    <a target="_blank" href="http://hapijs.com/">Hapi</a> <span class="LinkExplanation">JS Server, reactive DOM server</span><br />

    <h3>JS Task Runners</h3>

    <a target="_blank" href="http://gruntjs.com/">Grunt</a> <span class="LinkExplanation">Compile your LESS, minify, run tests, cache output/templates ...</span><br />
    <a target="_blank" href="http://gulpjs.com/">Gulp</a> <span class="LinkExplanation">Like Grunt, except newer. Gulp is preferred.</span><br />

    <h3>JS Package Management / Module Bunders</h3>

    <a target="_blank" href="http://www.requirejs.org/">Require</a> <span class="LinkExplanation">Modular script manager</span><br />
    <a target="_blank" href="http://bower.io/">Bower</a> <span class="LinkExplanation">Package Manager for JS, like NuGet</span><br />
    <a target="_blank" href="http://webpack.github.io/">webpack</a> <span class="LinkExplanation">Module Bundler, not a package manager.</span><br />

    <h3>Charting / Visualization Tools</h3>

    <a target="_blank" href="http://www.jsgraphs.com/">Charting Controls</a> <span class="LinkExplanation">JS Charting Controls</span><br />
    <a target="_blank" href="http://www.highcharts.com/">HighCharts</a> <span class="LinkExplanation">ol' reliable in this genre.</span><br />

    <h3>Color Tools</h3>

    <a target="_blank" href="http://www.w3schools.com/tags/ref_colorpicker.asp">Simple Color Picker w Shades</a><br />
    <a target="_blank" href="http://colorschemedesigner.com/">Color Schemer</a> <span class="LinkExplanation">Color Theming Tool</span><br />
    <a target="_blank" href="http://www.materialpalette.com/">Material Palette</a> <span class="LinkExplanation">Base Scheme Picker for <i>Materialize</i></span><br />
    <a target="_blank" href="http://www.materialup.com/tools/colors">Material Design Colors</a> <span class="LinkExplanation">Another Swatch for <i>Materialize</i></span><br />
    <a target="_blank" href="http://www.visibone.com/color/chart_847.gif">Visibone Color Chart</a> <span class="LinkExplanation">Visibone</span><br />

    <h3>Keep Abreast With What's Going On With The Web</h3>

    <a target="_blank" href="http://www.reddit.com/r/webdev/">Reddit Web Dev</a> <span class="LinkExplanation">Best WebDev news on the 'net.</span><br />
    <a target="_blank" href="http://www.thoughtworks.com/radar/a-z">Tech Radar!</a> <span class="LinkExplanation">Where tools and languages stand on the tech radar.</span><br />
    <a target="_blank" href="http://www.w3counter.com/globalstats.php">Browser Market Share</a> <span class="LinkExplanation">Which browsers are paople using, now?</span><br />
    <a target="_blank" href="http://www.reddit.com/r/programmerhumor">Reddit Programming Humor</a> <span class="LinkExplanation">Because it wouldn't be funny if it wasn't true.</span><br />
    <a target="_blank" href="https://channel9.msdn.com/">Microsoft Channel 9 - Great Videos / Great Instruction</a><br />

    <h3>Design Inspiration</h3>

    <a target="_blank" href="https://thenetawards.com/">NET Awards</a><br />
    <a target="_blank" href="http://webdesignerwall.com">Web Designer Wall</a><br />

    <hr />

    <h4>Life After .NET / Evolution of the Microsoft Way</h4>

    <a target="_blank" href="https://code.visualstudio.com/">Visual Studio Code</a> <span class="LinkExplanation">Microsoft's version of WebStorm, with Node.</span><br />
    <a target="_blank" href="https://www.airpair.com/mean-stack/posts/developers-moving-dotnet-to-mean">MS Fanboi Explains his migration to MEAN Stack</a><br />
    <a target="_blank" href="https://www.microsoftvirtualacademy.com/en-us/training-courses/mean-stack-jump-start-8442">MS Video - Evangelists on (how to) MEAN Stack </a><br />

    <h4>New Innovations in C#/.NET Server Side</h4>

    <p>In May 2015, <a target="_blank" href="http://www.thoughtworks.com/radar/languages-and-frameworks"> tech radar</a> placed <i>Nancy</i> in the coveted "Adopt" category.</p>

    <a target="_blank" href="http://nancyfx.org/">Nancy: A Lightweight Framework for .NET</a> <br />
    <a target="_blank" href="http://www.mono-project.com/">Mono: Cross platform, open source .NET Framework</a> <span class="LinkExplanation">Think 'Xamarin'</span><br />
    <a target="_blank" href="http://owin.org/">OWIN: </a> <span class="LinkExplanation">A serious stab at Modularizing .NET</span><br /><br />

    <h4>Ride .NET to The Bitter End ?</h4>

    <p>
        A small caveat here ... the convelescence of .NET should not be confused with the end of Microsoft; far from it. We should look forward to MS providing new innovation.
        FWIW it is my belief that .NET, including .NET MVC has had a good run.  If we don't embrace change, what will we do when the competition fully embraced it?
    </p>

    <a target="_blank" href="https://onedrive.live.com/view.aspx?resid=1E5AA35A965D3234!26479&ithint=file%2cdocx&app=Word&authkey=!AFHX2HJvNDJ9BBg">The Decline of the .NET Ecosystem</a>  <span class="LinkExplanation">The evidence laid out by the numbers</span><br />
    <a target="_blank" href="http://www.google.com/trends/explore#q=.net+1.1,.net+2.0,.net+3.0,.net+3.5,.net+4">Interest in .NET Over Time</a>  <span class="LinkExplanation">There's this thing called the <i>Market</i></span><br />
    <a target="_blank" href="http://www.indeed.com/jobtrends?q=sql&l=">Same Deal for MS SQL Server</a>  <span class="LinkExplanation">Check out <a target="_blank" href="http://www.indeed.com/jobtrends/MongoDB.html">the stats for Mongo</a>, forget for a moment that SQL Server is the greatest db of all time.</span><br />

    <p>&nbsp;</p>

</div>

