<div class="navbar navbar-inverse">

    <div class="navbar-header">
        <!-- this is the toggle menu that appears on the small screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <!-- cosmetic lines in toggle div -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="Identifier" class="navbar-brand" href="/#/">
            <span class="visible-lg">Bigg Responsive</span>
            <span class="visible-md">Bigg Responsive</span>
            <span class="visible-sm">Bigg Responsive</span>
            <span class="visible-xs">Bigg R</span>
        </a>
    </div>

    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Basic Demos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/BasicCall">Data Call</a></li>
                    <li><a href="#/BasicForm">Form</a></li>
                    <li><a href="#/FormWithModal">Basic Modal / Page Interaction</a></li>
                    <li><a href="#/FormWithEditDelete">Modal for Edit and Delete</a></li>
                    <li><a href="#/LocalStorage">HTML5 localStorage</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Bootstrap Links</li>
                    <li><a target="_blank" href="http://getbootstrap.com/2.3.2/scaffolding.html">Bootstrap Scaffolding</a></li>
                    <li><a target="_blank" href="http://bootswatch.com/">Bootswatch - Bootstrap Themes (free)</a></li>
                    <li><a target="_blank" href="https://wrapbootstrap.com/">Wrap Bootsrap - Bootstrap Themes (primo)</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Lodash Demos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/AllMeetingCriteria">All Matching Records</a></li>
                    <li><a href="#/RemoveFromCollection">Remove Matching Records</a></li>
                    <li><a href="#/IsInCollection">Exists in Records</a></li>
                    <li><a href="#/BasicFilter">EZ Filtering on Records</a></li>
                    <li><a href="#/FirstOrDefault">First Matching in Records</a></li>
                    <li><a href="#/SingleProperty">Get Single Property on ...</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Lodash</li>
                    <li><a target="_blank" href="https://lodash.com/docs">Lodash Documentation</a></li>
                </ul>
            </li>

            <li><a href="#/GroupCreate">Groups</a></li>
            <li><a href="#/Products">Shopping Cart</a></li>

        </ul><ul class="nav navbar-nav navbar-right">
            <li><a href="#/Links">Technologies Used in This Project</a></li>
        </ul>

    </div>
</div>