<h2>{{vm.header2}}</h2>

<div class="row-fluid">
    <div class="col-md-2 widget">
        <h3 class="title">Filter by Suit</h3>
        <select ng-model="vm.suitFilter" class="form-control">
            <option value="">All Cards</option>
            <option ng-repeat="(key, value) in vm.filteredSuit()" value="{{key}}">{{key}} ({{value}})</option>
        </select>
    </div>
    <div class="col-md-10">
        <h3 class="title">Filter by Tag</h3>
        <div class="col-md-2" ng-repeat="(key, value) in vm.filteredTags()" class="checkbox">
            <input type="checkbox" ng-click="vm.toggleTagChecked(key)"> {{key}} ({{value}})
        </div>
    </div> 
</div>

<div class="ClearBoth"></div>

<div class="row-fluid TopCushion">
    <div class="col-xs-1 Cards" ng-repeat="item in vm.deck | filter: { suit: vm.suitFilter } | selectedTags: vm.tagsFilter">
        <img ng-src="~/Content/ImagesCards/{{item.image}}" class="img-responsive" />
    </div>
</div>
