<h2>{{vm.header2}}</h2>

<div class="row-fluid">
    <div class="col-md-2">
        <select class="form-control" ng-model="vm.selectedTag" ng-change="vm.narrowSearch()">
            <option value="">EVERYONE</option>
            <option ng-repeat="tag in vm.exposedTags" value="{{tag.tagName}}">{{tag.tagName}} ({{tag.tagCount}})</option>
        </select>
    </div>
    <div class="col-md-10 widget"></div>
</div>

<div class="ClearBoth"></div>


<div class="row-fluid">
    <div class="col-sm-2 TopCushion" ng-show="vm.people.length > 0" ng-repeat="item in vm.people">
            <img class="caption-image thumbnail" ng-src="{{item.profileImage}}" alt="{{item.firstName}} {{item.lastName}}">
            <div class="caption">{{item.firstName}}<br />{{item.lastName}}</div>
    </div>
</div>

<!-- Small CSS bug in Bootswatch pager re highlighting on div that changes places  -->

<div class="row-fluid ClearBoth TopCushion">

    <div class="col-md-6">
        <pagination ng-change="pageChanged()"
                    total-items="vm.personCount"
                    items-per-page="numPerPage"
                    ng-model="currentPage"
                    max-size="5"
                    class="pagination-sm"
                    boundary-links="true">
        </pagination>
    </div>
    <div class="col-md-6"></div>

</div>